let mapleader='\'

set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000

" easy system clipboard copy/paste
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" easy window navigation
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k
nnoremap tn gT
nnoremap tp gt
nnoremap <a-h> gT
nnoremap <a-l> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" clear the search buffer when hitting return
nnoremap <space><cr> :nohlsearch<cr>

" options
nnoremap cow :action EditorToggleUseSoftWraps<cr>
nnoremap col :action EditorToggleShowWhitespaces<cr>

" Quit normal mode
nnoremap <Leader>fs :w<CR>
nnoremap <Leader>q :action CloseContent<cr>
nnoremap <Leader>Q :action ReopenClosedTab<cr>

" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>

" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kk <Esc>

" Quit visual mode
vnoremap v <Esc>

" Move to the start of line
nnoremap H ^

" Move to the end of line
nnoremap L $

" Redo
nnoremap U <C-r>

" Yank to the end of line
nnoremap Y y$

" built in search looks better
nnoremap g/ :action Find<CR>

" built-in navigation to navigated items works better
nnoremap g<c-o> :action Back<cr>
nnoremap g<c-i> :action Forward<cr>

" actions
nnoremap <space>b :action ToggleLineBreakpoint<cr>
nnoremap <space>k :action HighlightUsagesInFile<cr>
nnoremap <space>;; :action CommentByLineComment<CR>

nnoremap <Leader>ap :action ActivateProjectToolWindow<CR>
nnoremap <Leader>ar :action ActivateRunToolWindow<CR>
nnoremap <Leader>af :action ActivateFindToolWindow<CR>
nnoremap <Leader>al :action ActivateLuaJToolWindow<CR>
nnoremap <Leader>am :action ActivateMessagesToolWindow<CR>
nnoremap <Leader>an :action ActivateNavBar<CR>
nnoremap <Leader>as :action ActivateStructureToolWindow<CR>
nnoremap <Leader>at :action ActivateTerminalToolWindow<CR>
nnoremap <Leader>aT :action ActivateTODOToolWindow<CR>
nnoremap <Leader>av :action ActivateVersionControlToolWindow<CR>

nnoremap <Leader>s  :action Switcher<cr>
nnoremap <Leader>bb :action ToggleLineBreakpoint<CR>
nnoremap <Leader>br :action ViewBreakpoints<CR>
nnoremap <Leader>cv :action ChangeView<CR>
nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>

nnoremap <Leader>ga :action SearchEverywhere<CR>
" nnoremap <Leader>ga :action GotoAction<CR> C+S+A
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gd :action GotoDeclaration<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gi :action GotoImplementation<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>
nnoremap <Leader>gt :action GotoTest<CR>

nnoremap <Leader>fp :action ShowFilePath<CR>
nnoremap <Leader>gg :action ShowUsages<CR>
nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>ic :action InspectCode<CR>

nnoremap <Leader>oi :action OptimizeImports<CR>
nnoremap <Leader>pm :action ShowPopupMenu<CR>
nnoremap <Leader>tt :action FileStructurePopup<cr>

nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

nnoremap <Leader>tc :action CloseActiveTab<CR>
vnoremap <Leader>tl y<CR>:action ActivateTerminalToolWindow<CR>

nnoremap <Leader>] :action GotoImplementation<cr>
nnoremap <Leader>[ :action GotoSuperMethod<cr>
nnoremap <Leader>k :action HighlightUsagesInFile<cr>

nnoremap <Leader>xR :action RunClass<cr>
nnoremap <Leader>xr :action Run<cr>
nnoremap <Leader>xD :action DebugClass<cr>
nnoremap <Leader>xd :action Debug<cr>
nnoremap <Leader>xc :action ChooseRunConfiguration<CR>

nnoremap <a-k> :action MethodUp<cr>
nnoremap <a-j> :action MethodDown<cr>
